@use 'mixins' as M ;
@use 'h-fonts' as F ;
@use 'h-colors' as C ;


@mixin article__header () {
    &__header {
        @include M.Display( flex , row nowrap , space-between , center , 1rem );
        padding-right : 2rem ;

        &--figure {
            display : inline-flex ;
            align-items: center ;
            gap : 1rem ;


            & img {
                scale : .75 ;
                border-radius: 50% ;
                border : 4px solid C.$c-violet600 ;
            }
        }
    }
}

@mixin article__main (){
    &__main {

        &--title {
             font-weight: F.$fontWeight + 100 ;
        }

        &--paragraph {
            // color : ;
            font-weight : F.$fontWeight - 100 ;
        }
    }
}
