
$fontSize :     13px ;
$fontWeight :   500 ;
$lineHeight :   1.5 ;

$sizes : 38px , 32px , 28px , 24px , 22px , 18px ;


// La idea es tratar de llegar a que quede asi :
// h1 { font-size : 54px }
// h2 { font-size : 36px }
// h3 { font-size : 18px }



